<!-- <h1 ngClass="heel">{{name}}</h1/> -->
<p *ngIf="!var1">{{ name1 }}</p>
<p *ngIf="var1 == true">{{ name2 }}</p>
<!-- true == true -->
<!-- <img [src]="img" alt=""> -->
<ul>
  <li *ngFor="let item of links">
    <a href="" *ngIf="item != 'About'">{{ item }}</a>
  </li>
</ul>
<button (click)="submit()">click here</button>
<!-- <input type="text" [(ngModel)]="binding"> -->
<!-- structrual directive
*ngIf="expression"
**ngFor="let item of list" -->
<!-- <div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="expression">output</div>
  <div *ngSwitchDefault>output2</div>
</div> -->
